<link rel="stylesheet" href="/css/navbar.css">


<div class="navbar navbar1">

    <div class="logo">
        <a href="#" class="nav-item">Buyed</a>

    </div>


    <div class="links">


        <a href="/" class="nav-item"> <i class="fa-solid fa-house"></i> <span>Home</span></a>
        <a href="#" class="nav-item"><i class="fa-solid fa-info"></i>About</a>
        <a href="#" class="nav-item"><i class="fa-solid fa-address-book"></i><span>Contact</span></a>

        <a href="#" class="nav-item"><i class="fa-solid fa-comment-dots"></i><span>Feedback</span></a>
        <a href="/settings" class="nav-item"><i class="fa-solid fa-gear"></i>Settings</a>

    </div>

</div>




<div class="navbar navbar2">

    <div class="logo">
        <a href="#" class="nav-item"> Buyed</a>
    </div>

    <div id="menu-icon">

        <i class="fa-solid fa-bars"></i>

    </div>

    <div class="links2">

        <a href="/" class="nav-item"> <i class="fa-solid fa-house"></i> <span>Home</span></a>
        <a href="#" class="nav-item"><i class="fa-solid fa-info"></i><span>About</span></a>
        <a href="#" class="nav-item"><i class="fa-solid fa-address-book"></i><span>Contact</span></a>
        <a href="#" class="nav-item"><i class="fa-solid fa-comment-dots"></i><span>Feedback</span></a>
        <a href="/settings" class="nav-item"><i class="fa-solid fa-gear"></i>Settings</a>
    </div>
</div>


<script src="/js/navbar.js"></script>