<link rel="stylesheet" href="/css/navbar.css">

<%if(settingsData.navbar == 'navbar1'){%>

    <div class="navbar navbar1">
        <a href="#" class="nav-item">Home</a>
        <a href="#" class="nav-item">Products</a>
        <a href="#" class="nav-item">About Us</a>
        <a href="#" class="nav-item">Contact</a>
    </div>

<%}else{%>

    <div class="navbar navbar2">
        <a href="#" class="nav-item">Home</a>
        <a href="#" class="nav-item">Products</a>
        <a href="#" class="nav-item">About Us</a>
        <a href="#" class="nav-item">Contact</a>
    </div>

<%}%>

<!-- 
<div class="navbar navbar2">
    <a href="#" class="nav-item">Home</a>
    <a href="#" class="nav-item">Products</a>
    <a href="#" class="nav-item">About Us</a>
    <a href="#" class="nav-item">Contact</a>
</div>
   -->
  