<link rel="stylesheet" href="/css/catalog.css">



<div class="catalog">


    <%if(settingsData.productCard=='type1'){%>
        <div id="card-type" data-cardtype="type1"></div>

        <%}else{%>

            <div id="card-type" data-cardtype="type2"></div>


            <%}%>


                <%if(settingsData.view=='carousel'){%>
                    <div class="carousel">
                        <% products.forEach((product)=> { %>
                            <div class="carousel-item">
                                <%- include('_productCard',{settingsData,product}); %>

                            </div>
                            <% }) %>
                    </div>



                    <%}else{%>

                        <div class="view-all">
                            <% products.forEach((product)=> { %>

                                <%- include('_productCard',{settingsData,product}); %>



                                    <% }) %>
                        </div>


                        <% }%>



</div>

<script src="/js/catalog.js"></script>