<link rel="stylesheet" href="/css/catalog.css">


<div class="catalog">

    <div class="carousel">
        <% products.forEach((product)=> { %>
            <div class="carousel-item">
                <%- include('_productCard',{product}); %>

            </div>
            <% }) %>
    </div>

    <div class="view-all">
        <% products.forEach((product)=> { %>

            <%- include('_productCard',{product}); %>

                <% }) %>
    </div>
</div>

<script src="/js/catalog.js"></script>

<script src="/js/product.js"></script>