
.catalog {
  padding: 20px;
}

/* __________view all styling___________ */
.view-all {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


/* __________carousel styling_________ */

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
}

.carousel-item {
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 76.5%;
  margin-right: 10px;
}


/* _________________media queries_______________ */
@media (min-width: 720px) and (max-width: 991px) {
  .catalog {
    padding: 30px;
  }

  .product-card {
    padding: 15px;
  }

  .carousel {
    margin-bottom: 30px;
  }
}

@media (min-width: 992px) and (max-width: 1079px) {
  .catalog {
    padding: 40px;
  }

  .product-card {
    padding: 20px;
  }

  .carousel {
    margin-bottom: 40px;
  }
}

@media (min-width: 1080px) {
  .catalog {
    padding: 50px;
  }

  .product-card {
    padding: 25px;
  }

  .carousel {
    margin-bottom: 50px;
  }
}




@media (min-width: 480px) {
  .carousel-item {
    width: 52%;
  }
}

@media (min-width: 720px) {
  .carousel-item {
    width: 40%;
  }
  .view-all {
    gap: 80px;
  }
  
}

@media (min-width: 992px) {
  .carousel-item {
    width: 30%;
  }
  .view-all {
    gap: 80px;
  }
  
}

@media (min-width: 1080px) {
  .carousel-item {
    width: 25%;
  }
}

.carousel{
  display: none;
}


/* .carousel-item {
  border:2px solid red;
  scroll-snap-align: start;
  flex: 0 0 auto;
  width: 76.5%;
  margin-right: 10px;
} */
