.settings-container {
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}

.settings-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.input-label {
  font-weight: bold;
}

.input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.select-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  background: url('arrow-down.svg') no-repeat right 10px center;
  background-size: 15px;
}

/* ____________media queries____________________ */

@media (min-width: 720px) {
  .settings-container {
    padding: 30px;
  }

  .settings-title {
    font-size: 28px;
  }
}

@media (min-width: 992px) {
  .settings-container {
    padding: 40px;
  }

  .settings-title {
    font-size: 32px;
  }
}

@media (min-width: 1080px) {
  .settings-container {
    padding: 50px;
  }

  .settings-title {
    font-size: 36px;
  }
}